.profile-settings {
    background-color: #ffffff;
    height: 852px;
    position: relative;
    width: 393px;
}

.profile-settings .overlap-group {
    height: 124px;
    left: 137px;
    position: absolute;
    top: 84px;
    width: 119px;
}

.profile-settings .ellipse {
    background-color: #d9d9d9;
    border-radius: 59.5px;
    height: 119px;
    left: 0;
    position: absolute;
    top: 0;
    width: 119px;
}

.profile-settings .div {
    background-color: #c3c0c0;
    border-radius: 21px;
    height: 42px;
    left: 77px;
    position: absolute;
    top: 82px;
    width: 42px;
}

.profile-settings .iconamoon-edit-thin {
    height: 24px;
    left: 86px;
    position: absolute;
    top: 91px;
    width: 24px;
}

.profile-settings .overlap {
    border-radius: 20.5px;
    height: 41px;
    left: 16px;
    position: absolute;
    top: 48px;
    width: 41px;
}

.profile-settings .weui-arrow-outlined {
    height: 32px;
    left: 12px;
    position: absolute;
    top: 4px;
    width: 16px;
}

.profile-settings .ellipse-2 {
    background-color: #aaaaaa99;
    border-radius: 20.5px;
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 41px;
}
