.rooms-appliance-page {
    background-color: #ffffff;
    height: 852px;
    overflow: hidden;
    position: relative;
    width: 393px;
}

.rooms-appliance-page .text-wrapper {
    color: #958b83;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 11px;
    font-weight: 700;
    left: 70px;
    letter-spacing: -0.22px;
    line-height: 12.8px;
    position: absolute;
    text-align: center;
    top: 97px;
    white-space: nowrap;
    width: 66px;
}

.rooms-appliance-page .div {
    color: #958b83;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 11px;
    font-weight: 700;
    left: 328px;
    letter-spacing: -0.22px;
    line-height: 12.8px;
    position: absolute;
    text-align: center;
    top: 97px;
    white-space: nowrap;
    width: 66px;
}

.rooms-appliance-page .text-wrapper-2 {
    color: #958b83;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 11px;
    font-weight: 700;
    left: 256px;
    letter-spacing: -0.22px;
    line-height: 12.8px;
    position: absolute;
    text-align: center;
    top: 97px;
    white-space: nowrap;
    width: 66px;
}

.rooms-appliance-page .text-wrapper-3 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 150px;
    letter-spacing: -0.26px;
    line-height: 15.1px;
    position: absolute;
    text-align: center;
    top: 94px;
    white-space: nowrap;
    width: 92px;
}

.rooms-appliance-page .text-wrapper-4 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 18px;
    letter-spacing: -0.36px;
    line-height: 20.9px;
    position: absolute;
    top: 141px;
    white-space: nowrap;
    width: 145px;
}

.rooms-appliance-page .text-wrapper-5 {
    color: #958b82;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 11px;
    font-weight: 700;
    left: -10px;
    letter-spacing: -0.22px;
    line-height: 12.8px;
    position: absolute;
    text-align: center;
    top: 97px;
    white-space: nowrap;
    width: 66px;
}

.rooms-appliance-page .overlap-group {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 103px;
    left: 18px;
    position: absolute;
    top: 171px;
    width: 352px;
}

.rooms-appliance-page .ellipse {
    background-color: #ffffff;
    border-radius: 31.5px;
    height: 63px;
    left: 25px;
    position: absolute;
    top: 21px;
    width: 63px;
}

.rooms-appliance-page .text-wrapper-6 {
    color: #ffffff;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 91px;
    letter-spacing: -0.30px;
    line-height: 17.4px;
    position: absolute;
    text-align: center;
    top: 22px;
    white-space: nowrap;
    width: 149px;
}

.rooms-appliance-page .overlap {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 103px;
    left: 18px;
    position: absolute;
    top: 290px;
    width: 352px;
}

.rooms-appliance-page .ellipse-2 {
    background-color: #ffffff;
    border-radius: 31.5px;
    height: 63px;
    left: 25px;
    position: absolute;
    top: 20px;
    width: 63px;
}

.rooms-appliance-page .text-wrapper-7 {
    color: #ffffff;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 88px;
    letter-spacing: -0.30px;
    line-height: 17.4px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
    width: 149px;
}

.rooms-appliance-page .overlap-2 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 103px;
    left: 18px;
    position: absolute;
    top: 409px;
    width: 352px;
}

.rooms-appliance-page .ellipse-3 {
    background-color: #ffffff;
    border-radius: 31.5px;
    height: 63px;
    left: 25px;
    position: absolute;
    top: 19px;
    width: 63px;
}

.rooms-appliance-page .text-wrapper-8 {
    color: #ffffff;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 91px;
    letter-spacing: -0.30px;
    line-height: 17.4px;
    position: absolute;
    text-align: center;
    top: 16px;
    white-space: nowrap;
    width: 149px;
}

.rooms-appliance-page .vector-wrapper {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 103px;
    left: 18px;
    position: absolute;
    top: 528px;
    width: 352px;
}

.rooms-appliance-page .vector {
    height: 39px;
    left: 156px;
    position: absolute;
    top: 32px;
    width: 39px;
}

.rooms-appliance-page .img-wrapper {
    background-color: #d9d9d9;
    border-radius: 8px;
    height: 26px;
    left: 344px;
    position: absolute;
    top: 49px;
    width: 26px;
}

.rooms-appliance-page .img {
    height: 15px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 15px;
}

.rooms-appliance-page .iconamoon-edit-thin {
    height: 24px;
    left: 338px;
    position: absolute;
    top: 136px;
    width: 24px;
}
