.sign-up-page {
    background-color: #ffffff;
    height: 852px;
    position: relative;
    width: 393px;
}

.sign-up-page .overlap {
    background-color: #aaaaaa99;
    border-radius: 20.5px;
    height: 41px;
    left: 42px;
    position: absolute;
    top: 51px;
    width: 41px;
}

.sign-up-page .weui-arrow-outlined {
    height: 32px;
    left: 12px;
    position: absolute;
    top: 4px;
    width: 16px;
}

.sign-up-page .text-wrapper {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 157px;
    letter-spacing: -0.44px;
    line-height: 25.5px;
    position: absolute;
    top: 53px;
    white-space: nowrap;
}

.sign-up-page .overlap-group {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 58px;
    left: 48px;
    position: absolute;
    top: 159px;
    width: 297px;
}

.sign-up-page .div {
    color: #000000;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 35px;
    letter-spacing: -0.36px;
    line-height: 20.9px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.sign-up-page .div-wrapper {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 58px;
    left: 48px;
    position: absolute;
    top: 245px;
    width: 297px;
}

.sign-up-page .text-wrapper-2 {
    color: #000000;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 36px;
    letter-spacing: -0.36px;
    line-height: 20.9px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.sign-up-page .overlap-2 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 58px;
    left: 48px;
    position: absolute;
    top: 331px;
    width: 297px;
}

.sign-up-page .overlap-3 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 58px;
    left: 48px;
    position: absolute;
    top: 417px;
    width: 297px;
}

.sign-up-page .overlap-group-2 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 58px;
    left: 48px;
    position: absolute;
    top: 640px;
    width: 297px;
}

.sign-up-page .rectangle {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 58px;
    left: 0;
    position: absolute;
    top: 0;
    width: 297px;
}

.sign-up-page .text-wrapper-3 {
    color: #000000;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 109px;
    letter-spacing: -0.36px;
    line-height: 20.9px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}
