.user-dashboard {
    background-color: #ffffff;
    height: 852px;
    position: relative;
    width: 393px;
}

.user-dashboard .welcome-name {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 31px;
    letter-spacing: -0.36px;
    line-height: 20.9px;
    position: absolute;
    top: 97px;
    white-space: nowrap;
    width: 208px;
}

.user-dashboard .text-wrapper {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 29px;
    letter-spacing: -0.36px;
    line-height: 20.9px;
    position: absolute;
    top: 523px;
    white-space: nowrap;
    width: 208px;
}

.user-dashboard .div {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 31px;
    letter-spacing: -0.30px;
    line-height: 17.4px;
    position: absolute;
    top: 181px;
    width: 106px;
}

.user-dashboard .text-wrapper-2 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 31px;
    letter-spacing: -0.36px;
    line-height: 20.9px;
    position: absolute;
    top: 397px;
    white-space: nowrap;
    width: 164px;
}

.user-dashboard .text-wrapper-3 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 188px;
    letter-spacing: -0.30px;
    line-height: 17.4px;
    position: absolute;
    top: 181px;
    width: 127px;
}

.user-dashboard .text-wrapper-4 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 31px;
    letter-spacing: -0.56px;
    line-height: 32.5px;
    position: absolute;
    top: 127px;
    white-space: nowrap;
    width: 208px;
}

.user-dashboard .ellipse {
    background-color: #d9d9d9;
    border-radius: 17.5px;
    height: 35px;
    left: 329px;
    position: absolute;
    top: 46px;
    width: 35px;
}

.user-dashboard .overlap {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 162px;
    left: 27px;
    position: absolute;
    top: 212px;
    width: 137px;
}

.user-dashboard .vector {
    height: 39px;
    left: 47px;
    position: absolute;
    top: 54px;
    width: 39px;
}

.user-dashboard .overlap-group {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 162px;
    left: 188px;
    position: absolute;
    top: 212px;
    width: 168px;
}

.user-dashboard .rectangle {
    background-color: #ffffff;
    height: 40px;
    left: 36px;
    position: absolute;
    top: 87px;
    width: 23px;
}

.user-dashboard .rectangle-2 {
    background-color: #ffffff;
    height: 54px;
    left: 63px;
    position: absolute;
    top: 73px;
    width: 22px;
}

.user-dashboard .rectangle-3 {
    background-color: #ffffff;
    height: 69px;
    left: 90px;
    position: absolute;
    top: 58px;
    width: 22px;
}

.user-dashboard .rectangle-4 {
    background-color: #ffffff;
    height: 91px;
    left: 117px;
    position: absolute;
    top: 36px;
    width: 22px;
}

.user-dashboard .overlap-group-2 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 76px;
    left: 31px;
    position: absolute;
    top: 554px;
    width: 325px;
}

.user-dashboard .overlap-2 {
    border-radius: 20px;
    height: 40px;
    left: 18px;
    position: absolute;
    top: 15px;
    width: 40px;
}

.user-dashboard .ph-carrot-thin {
    height: 27px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 27px;
}

.user-dashboard .ellipse-2 {
    border: 2px solid;
    border-color: #283618;
    border-radius: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.user-dashboard .text-wrapper-5 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 72px;
    letter-spacing: -0.36px;
    line-height: 20.9px;
    position: absolute;
    top: 23px;
    white-space: nowrap;
    width: 208px;
}

.user-dashboard .rectangle-5 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 76px;
    left: 29px;
    position: absolute;
    top: 426px;
    width: 325px;
}

.user-dashboard .iconamoon {
    height: 30px;
    left: 296px;
    position: absolute;
    top: 48px;
    width: 30px;
}

.user-dashboard .group {
    height: 26px;
    left: 4px;
    position: absolute;
    top: 2px;
    width: 22px;
}

.user-dashboard .overlap-3 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 57px;
    left: 9px;
    position: absolute;
    top: 780px;
    width: 369px;
}

.user-dashboard .material-symbols {
    height: 34px;
    left: 167px;
    position: absolute;
    top: 11px;
    width: 34px;
}

.user-dashboard .fluent-stack {
    height: 32px;
    left: 88px;
    position: absolute;
    top: 13px;
    width: 32px;
}
