.weeks-summary {
    background-color: #ffffff;
    height: 852px;
    position: relative;
    width: 393px;
}

.weeks-summary .overlap {
    background-color: #d9d9d9;
    border-radius: 25px;
    height: 43px;
    left: 36px;
    position: absolute;
    top: 59px;
    width: 133px;
}

.weeks-summary .text-wrapper {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 26px;
    letter-spacing: -0.26px;
    line-height: 15.1px;
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 92px;
}

.weeks-summary .ri-arrow-drop-down {
    height: 25px;
    left: 90px;
    position: absolute;
    top: 10px;
    width: 25px;
}

.weeks-summary .overlap-group {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 289px;
    left: 36px;
    position: absolute;
    top: 147px;
    width: 322px;
}

.weeks-summary .rectangle {
    background-color: #ffffff;
    border-radius: 30px;
    height: 64px;
    left: 21px;
    position: absolute;
    top: 40px;
    width: 277px;
}

.weeks-summary .div {
    background-color: #ffffff;
    border-radius: 30px;
    height: 64px;
    left: 22px;
    position: absolute;
    top: 116px;
    width: 277px;
}

.weeks-summary .img {
    height: 64px;
    left: 21px;
    position: absolute;
    top: 192px;
    width: 277px;
}

.weeks-summary .text-wrapper-2 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 29px;
    letter-spacing: -0.32px;
    line-height: 18.6px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 145px;
}

.weeks-summary .overlap-group-2 {
    height: 289px;
    left: 36px;
    position: absolute;
    top: 456px;
    width: 328px;
}

.weeks-summary .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 289px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 321px;
}

.weeks-summary .rectangle-3 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 70px;
    left: 36px;
    position: absolute;
    top: 167px;
    width: 9px;
}

.weeks-summary .rectangle-4 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 153px;
    left: 153px;
    position: absolute;
    top: 84px;
    width: 9px;
}

.weeks-summary .rectangle-5 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 60px;
    left: 192px;
    position: absolute;
    top: 177px;
    width: 9px;
}

.weeks-summary .rectangle-6 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 146px;
    left: 231px;
    position: absolute;
    top: 91px;
    width: 9px;
}

.weeks-summary .rectangle-7 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 93px;
    left: 270px;
    position: absolute;
    top: 144px;
    width: 9px;
}

.weeks-summary .rectangle-8 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 48px;
    left: 75px;
    position: absolute;
    top: 189px;
    width: 9px;
}

.weeks-summary .rectangle-9 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 99px;
    left: 114px;
    position: absolute;
    top: 138px;
    width: 9px;
}

.weeks-summary .rectangle-10 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 153px;
    left: 50px;
    position: absolute;
    top: 84px;
    width: 9px;
}

.weeks-summary .rectangle-11 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 93px;
    left: 89px;
    position: absolute;
    top: 144px;
    width: 9px;
}

.weeks-summary .rectangle-12 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 120px;
    left: 128px;
    position: absolute;
    top: 117px;
    width: 9px;
}

.weeks-summary .rectangle-13 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 197px;
    left: 167px;
    position: absolute;
    top: 40px;
    width: 9px;
}

.weeks-summary .rectangle-14 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 33px;
    left: 206px;
    position: absolute;
    top: 204px;
    width: 9px;
}

.weeks-summary .rectangle-15 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 107px;
    left: 245px;
    position: absolute;
    top: 130px;
    width: 9px;
}

.weeks-summary .rectangle-16 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 107px;
    left: 284px;
    position: absolute;
    top: 130px;
    width: 9px;
}

.weeks-summary .text-wrapper-3 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 0;
    letter-spacing: -0.20px;
    line-height: 11.6px;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
    width: 92px;
}

.weeks-summary .text-wrapper-4 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 41px;
    letter-spacing: -0.20px;
    line-height: 11.6px;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
    width: 92px;
}

.weeks-summary .text-wrapper-5 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 80px;
    letter-spacing: -0.20px;
    line-height: 11.6px;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
    width: 92px;
}

.weeks-summary .text-wrapper-6 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 120px;
    letter-spacing: -0.20px;
    line-height: 11.6px;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
    width: 92px;
}

.weeks-summary .text-wrapper-7 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 236px;
    letter-spacing: -0.20px;
    line-height: 11.6px;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
    width: 92px;
}

.weeks-summary .text-wrapper-8 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 158px;
    letter-spacing: -0.20px;
    line-height: 11.6px;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
    width: 92px;
}

.weeks-summary .text-wrapper-9 {
    color: #35200e;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 197px;
    letter-spacing: -0.20px;
    line-height: 11.6px;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
    width: 92px;
}
